#container {
	position: relative;
	top: 30px;
	outline:4px solid #000;
	height:960px;
	width:960px;
	margin:0; padding: 0;

}

.grid {
	margin:0;
	padding:0;
	outline:1px solid #000;
	display:inline-block;
}
