#container {
	position: relative;
	top: 50px;
	outline:4px solid #ffffff;
	font-size: 0;
	margin: auto;
	margin-bottom: 50px;
	height:500px;
	width:500px;
	padding: 0;
	border: none;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #e2e2e2;
	display:inline-block;
}

body{
	background-color:#e2e2e2;
}

h1{
	color: #7f6c76;
	text-align: center;
}
